<div class="container">
    <div class="row">
        <div class="col-sm-12">            
            <div class="row">
                <div class="col-sm-7">
                <h1 class="xl-header featured-product-header"><strong>Explore bold flavors.</strong></h1>
                    <p class="lead">
                        Our single-origin chocolate is made exclusively with organic, Rainforest Alliance certified Hispaniola beans from The Dominican Republic. These premium beans have been fermented and sun-dried. Our bars are 100% organic, kosher, gluten free and non-GMO.
                    </p>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <div clas="row">
                        <div class="col-sm-8 col-xs-6 promotion-text-wrapper">
                            <h3 class="italic-header"><em>Sign up for our newsletter</em></h3>
                        </div>
                        <div class="col-sm-4 col-xs-6 ">
                            <p class="promotion-circle lead">20% Off</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h4 class="featured-product-headline">Featured Products</h4>
        </div>
    </div>
    <div class="row">
        {% for product in collections.featured.products limit:6 %}

        <div class="col-sm-6 col-md-4">
            <a href="{{ product_url }}" class="caption clearfix">
                <div class="panel panel-default whole-sale-panel">
                    <div class="panel-body">
                        <p class="product-title lead no-bottom">{{ product.title }}</p>
                        <p><small class="product-cacao-content text-right no-top">57% Dark Chocolate</small></p>
                        {% for image in product.images limit:1%}
                        <img class="img-responsive img-center featured-product-image"
                             src="{{ image.src | product_img_url: 'medium' }}">
                        <hr>
                        {% endfor %}
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="product-price">{{ product.price | money }}</p>
                            </div>
                            <div class="col-xs-6">
                                <p class="btn btn-lg btn-default home-cart-btn">Add to Cart</p>
                            </div>
                        </div>


                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>