<div class="container">
	<div class="row">
  		<div class="col-sm-6">
    		<h1 class="xl-header"><strong>Discover Chocolate<br> Near You.</strong></h1>      
    			<p class="lead">
      				Our success depends on your success. We go the extra mile to support our retailers and make sure you receive the best customer service!
    			</p>      
  			</div>
  			<div class="col-md-4 col-md-offset-2 col-sm-6"> 
  				<h2>Find a Retailer</h2>     
				<div class="panel panel-default whole-sale-panel">
  					<div class="panel-body">                    
    					<div class="row">
					    	<div class="col-sm-12">
						        <label>Enter Your Zipcode</label><br>
						        <small>Select search radius from dropdown</small>
						    </div>
						</div>
						<div class="row">
					        <div class="col-sm-12">
						        <div class="input-group">
				          			<input type="text" class="form-control" aria-label="Text input with segmented button dropdown">
				          			<div class="input-group-btn">            
				            			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					              			<span class="caret"></span>
					              			<span class="sr-only">Toggle Dropdown</span>
				            			</button>
								            <ul class="dropdown-menu dropdown-menu-right">
								              <li><a href="#">10 mi</a></li>
								              <li><a href="#">20 mi</a></li>
								              <li><a href="#">30 mi</a></li>              
								            </ul>								          
				          			</div>				          			  
			        			</div>
			        			<a href="#" class="btn btn-primary btn-lg active" role="button">Search</a>
			        		</div>
			        	</div>	       
      				</div>
    			</div>
	  		</div>
		</div>   
	</div>