<footer id="footer-content" class="footer">
  <div class="container">
    {% if has_footer %}
    <div class="row">
      <div class="col-sm-10 col-xs-6">
        <img src="{{ 'salazon-logo.png' | asset_url }}" width="150">
      </div>
      <div class="col-sm-2 col-xs-6 social-icon-wrapper">
        <a href="https://www.facebook.com/SalazonChocolateCo" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/salazonchoc" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="http://instagram.com/salazonchoc" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.pinterest.com/salazonchoc/" target="_blank"><i class="fa fa-pinterest-p"></i></a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-2">
        <h4>Contact Us</h4>
        <p>443.300.8877</p>
        <p>info@salazonchoc.com</p>
        <p>
          P.O. BOX 1221<br>
          ELDERSBURG . MD . 21784
        </p>
      </div>
      <div class="col-sm-2">
        <h4>More Info</h4>
        <ul class="list-unstyled">
          <li>Become a Wholesaler</li>
          <li>Find a Retailer</li>
          <li>FAQ</li>
          <li>Policy</li>          
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>Find a Retailer</h4>
        <p class="lead">Find Salazon Chocolate in a store near you.</p>
        <button type="button" class="btn btn-primary">Search</button>
      </div>
      <div class="col-sm-4">
        <h4>Subscribe for updates and coupons</h4>
          <input type="text" class="form-control" placeholder="Username">
          <input type="text" class="form-control" placeholder="Email">
        <button type="button" class="btn btn-primary">subscribe</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="copy-right">
          <small>
            &copy;{{ 'now' | date: '%Y' }}&nbsp;<a href="/" title="{{ shop.name }} {% include '__localize' with 'homepage' %}">{{ shop.name | replace: ' ', '&nbsp;' }}</a>.
          </small>
        </p>
      </div>
    </div>
      <!--{% assign cols = '' %}-->
      <!--{% for i in (i..3) %}-->
        <!--{% assign c = i | plus: 1 %}-->
        <!--{% assign col = 'column-' | append: c %}-->
        <!--{% assign col_blog = col | append: '-blog' %}-->
        <!--{% assign col_menu = col | append: '-menu' %}-->
        <!--{% assign col_text = col | append: '-text' %}-->
        <!-- -->
        <!--{% if settings[col_blog] != blank or settings[col_menu] != blank or settings[col_text] != blank or settings.newsletter-signup-placement contains col or settings.social-links-placement contains col %}-->
          <!--{% assign cols = cols | append: col | append: '|' %}-->
        <!--{% endif %}-->
      <!--{% endfor %}-->
      <!--{% assign footer_columns = cols | split: '|' %}-->
      <!-- -->
    <!--<div class="row">-->
      <!--{% for footer_column in footer_columns %}-->
        <!--{% include 'footer-column-loop' %}-->
      <!--{% endfor %}-->
    <!--</div>-->
    <!--{% endif %}-->

  </div>
</footer>