
<div class="learn-more-wrapper">
  <div class="container">
    <div class="row text-center">
      <h1>
        Learn More
      </h1>
      <p>It's more than just chocolate, it's a lifestyle.</p>
      <div class="col-sm-3">
        <div class="panel panel-default learn-more-panel recipe-panel">
          <div class="panel-body">
            <h3 class="text-center">Recipes</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default learn-more-panel why-salted-panel">
          <div class="panel-body">
            <h3 class="text-center">News</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default learn-more-panel our-process-panel">
          <div class="panel-body">
            <h3 class="text-center">Trails</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default learn-more-panel our-chocolate-panel">
          <div class="panel-body">
            <h3 class="text-center">Our Story</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>