<div class="jumbotron home-page-hero large-hero">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="text-center">Adventure with chocolate.</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<p class="xl-lead">Salazon's chocolate bars are made from 100% organic, single origin, Rainforest Alliance and Fair
					Trade certified beans in the USA. Each bar is hand sprinkled with natural, solar-evaporated sea
					salt.</p>
				<p><a class="btn btn-lg btn-default" href="/collections/all" role="button">Shop Now</a></p>
			</div>
		</div>
	</div>
</div>