
<div class="main-about-wrapper">    
    <div class="about-hero jumbotron no-margin">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1 class="text-center"><strong>Salted, Organic, Dark</strong></h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-center" src="{{ 'organic.png' | asset_url }}">
                </div>
                <div class="col-xs-3">
                    <img class="img-center" src="{{ 'fair-trade.png' | asset_url }}">
                </div>
                <div class="col-xs-3">
                    <img class="img-center" src="{{ 'rainforest-alliance.png' | asset_url }}">
                </div>
                <div class="col-xs-3">
                    <img class="img-center img-responsive" height="20" src="{{ 'kosher.png' | asset_url }}">
                </div>
            </div>
        </div>
    </div>
</div>


