<div class="container-fluid our-network-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Our Network</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="row text-center">
        <div class="col-xs-1 col-sm-offset-1">
          <img class="img-center img-responsive" height="20" src="{{ 'at-logo.png' | asset_url }}">
        </div>
        <div class="col-xs-1">
          <img class="img-center img-responsive" height="20" src="{{ 'continental-trail-logo.png' | asset_url }}">
        </div>
        <div class="col-xs-1">
          <img class="img-center img-responsive" height="20" src="{{ 'pcta-logo.jpg' | asset_url }}">
        </div>
        <div class="col-xs-1">
          <img class="img-center img-responsive" height="20" src="{{ 'fair-trade.png' | asset_url }}">
        </div>
        <div class="col-xs-1">
          <img class="img-center img-responsive" height="20" src="{{ 'organic.png' | asset_url }}">
        </div>
        <div class="col-xs-1">
          <img class="img-center img-responsive" height="20" src="{{ 'rainforest-alliance.png' | asset_url }}">
        </div>
        <div class="col-xs-1">
          <img class="img-center img-responsive" height="20" src="{{ 'kosher.png' | asset_url }}">
        </div>
      </div>
    </div>
  </div>
</div>