<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="xl-header"><strong>Flavor Profile</strong></h1>
            <p class="lead">
                Fruit-forward with notes of <em>currant, fig,</em> and <em>deep red wine.</em> Balanced sweetness with low bitterness and a long, creamy finish.
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default whole-sale-panel">
                        <div class="panel-body">
                            <ul class="list-unstyled lead">
                                <li><label>Origin</label></li>
                                <li>Dominican Republic</li>
                                <li><label>Bean Type</label></li>
                                <li>Hispaniola</li>
                                <li><label>Cocoa Content</label></li>
                                <li>57% and 72%</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
        <div class="col-sm-5">
            <img class="img-center img-responsive" src="{{ 'cacao.jpg' | asset_url }}">
        </div>                
    </div>
</div>
<div class="our-chocolate-bean-hero jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="xl-header text-center"><strong>Single Origin Cacao</strong></h2>
                <p class="lead secondary-section-p">
                    At Salazon, we make our single-origin, salted dark chocolate bars exclusively with certified organic, Fair Trade and Rainforest Alliance Hispaniola cacao from the Dominican Republic. By sourcing all our cacao from a single origin, we’ve created a truly distinctive flavor profile.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="xl-header"><strong>57% Cocoa Content</strong></h1>
            <p class="lead">
                Our approachable 57% dark chocolate is smooth and balanced with nuanced chocolate character.  Not too intense but not too sweet, our 57% dark chocolate is hard to beat!
            </p>
        </div>
    </div>

    <hr>
    <div class="row">

        {% for product in collections.57-dark-chocolate.products limit:3 %}
        <div class="col-sm-6 col-md-4">
            
            <a href="{{ product_url }}" class="caption clearfix">
                <div class="panel panel-default whole-sale-panel">
                    <div class="panel-body">
                        <p class="product-title lead">{{ product.title }}</p>
                        {% for image in product.images limit:1%}
                        <img class="img-responsive img-center featured-product-image"
                             src="{{ image.src | product_img_url: 'medium' }}">
                        <hr>
                        {% endfor %}
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="lg-header">{{ product.price | money }}</p>
                            </div>
                            <div class="col-sm-6">

                                <p class="btn btn-lg btn-default home-cart-btn">Add to Cart</p>
                            </div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>    
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="xl-header"><strong>72% Cocoa Content</strong></h1>
            <p class="lead">
                A silky smooth full-bodied chocolate with low bitterness, our rich 72% dark chocolate delivers complex depth of flavor with bold intensity rounded out by a subtle sweetness.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">

        {% for product in collections.72-dark-chocolate.products limit:3 %}
        <div class="col-sm-6 col-md-4">            
            <a href="{{ product_url }}" class="caption clearfix">
                <div class="panel panel-default whole-sale-panel">
                    <div class="panel-body">
                        <p class="product-title lead">{{ product.title }}</p>
                        {% for image in product.images limit:1%}
                        <img class="img-responsive img-center featured-product-image"
                             src="{{ image.src | product_img_url: 'medium' }}">
                        <hr>
                        {% endfor %}
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="lg-header">{{ product.price | money }}</p>
                            </div>
                            <div class="col-sm-6">

                                <p class="btn btn-lg btn-default home-cart-btn">Add to Cart</p>
                            </div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="our-chocolate-bean-hero jumbotron no-margin">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="xl-header text-center"><strong>Equal Exchange</strong></h2>
                <p class="lead secondary-section-p">
                    All of our cacao is sourced directly from the Confederación Nacional de Cacaocultores Dominicanos, or CONACADO. CONACADO is a democratically-run cooperative organization of small-scale producers in the Dominican Republic. These producers grow their cacao in ideal conditions – under the shade of canopy fruit-producing trees. 
                </p>
            </div>
        </div>
    </div>
</div>