<div class="jumbotron chocolate-page-hero small-hero">
    <div class="container text-center">
        <h1><strong>Our Chocolate</strong></h1>
        <p class="lead">At Salazon, we make our single-origin, salted dark chocolate bars exclusively with certified organic, Fair Trade and Rainforest Alliance Hispaniola cacao from the Dominican Republic. By sourcing all our cacao from a single origin, we've create a truly distinctive flavor profile.</p>
        
    </div>
</div>