<div class="main-about-wrapper">    
    <div class="trail-hero jumbotron no-margin">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1 class="text-center"><strong>Take a Journey</strong></h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-center img-responsive" height="20" src="{{ 'continental-trail-logo.png' | asset_url }}">
                </div>
                <div class="col-xs-4">
                    <img class="img-center img-responsive" height="20" src="{{ 'pcta-logo.jpg' | asset_url }}">
                </div>
                <div class="col-xs-4">
                    <img class="img-center img-responsive" height="20" src="{{ 'at-logo.png' | asset_url }}">
                </div>                
            </div>
        </div>
    </div>
</div>
