<div class="whole-sale-wrapper">
   <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="xl-header no-margin"><strong>Stock your shelves with meaning.</strong></h1>      
        <p class="lead">
          Our success depends on your success. We go the extra mile to support our retailers and make sure you receive the best customer service!
        </p>      
      </div>
      <div class="col-md-4 col-md-offset-2 col-sm-6"> 
      <h2 class="no-top">Become a Wholesaler</h2>     
        <div class="panel panel-default whole-sale-panel">
          <div class="panel-body">                    
            <ul class="list-unstyled">
              <li class="lead"><i class="fa fa-check"></i>Competetive Pricing</li>
              <li class="lead"><i class="fa fa-check"></i>Custom Signage</li>
              <li class="lead"><i class="fa fa-check"></i>Marketing Materials</li>
              <li class="lead"><i class="fa fa-check"></i>Training &amp; Demo Kits</li>
              <li class="lead"><i class="fa fa-check"></i>Chocolate by the case</li>
            </ul>                    
            <a href="#" class="btn btn-primary btn-lg active" role="button">Sign Up</a>
          </div>
        </div>
      </div>
    </div>   
  </div>
</div>