<!DOCTYPE html>
<html>
<head>
  {% include 'meta' %}
  
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {{ '_base.scss.css' | asset_url | stylesheet_tag }}  
  {{ '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' | script_tag }}
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' | script_tag }}

  <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% assign respond_js_secret_key = (shop.domain | md5) %}
    {{ 'respond.min.js' | asset_url | script_tag }}
    <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
    <link href="{{ shop.url }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
    <script src="{{ shop.url }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->
  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'bootstrapify-option-selection.min.js' | asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {% if settings.custom-header-code != '' %}
    {{ settings.custom-header-code }}
  {% endif %}

  {{ content_for_header }}
  
  {% include 'theme-script-variables' %}
  {% include 'theme-variables' %}

  <!-- Typekit -->  
  <script src="//use.typekit.net/ooz2yzq.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<!--[if IE]><body class="{% include '__body-classes' %} ie"> <![endif]-->
<!--[if !(IE)]><!--> <body class="{% include '__body-classes' %}"> <!--<![endif]-->

  <div id="wrap">
    <h2>Hello Universe</h2>
    {% include 'navbar' with 'top' %}
    <div id="content">
      
        {% if template == "index" %}
          {% include 'main-hero' %}                           
          {% include 'featured-products' %}
          {% include 'main-about' %}          
          {% include 'find-retailer-section' %}
          {% include 'trail-network-section' %}
          {% include 'learn-more-section' %}                    
        {% endif %}		
              {% if has_sidebar and settings[sidebar_template] %}
      {% unless has_window_width_thumbnail_container %}<div class="container"><div class="row">{% endunless %}
      <div class="main-content {% include '__main-span' %}">
    {% endif %}

    
    {{ content_for_layout }}
    
    {% if has_sidebar and settings[sidebar_template] %}
      </div>
      {% include 'sidebar' %}
      {% unless has_window_width_thumbnail_container %}</div></div>{% endunless %}
    {% endif %}


    </div>
    {% include 'footer' %}
  </div>
  
  {% include 'option-select-callback' %}
  {% include 'currencies' %}
  {{ '_base.js' | asset_url | script_tag }}
  {{ 'jquery.ajax-cart.min.js' | asset_url | script_tag }}
  {{ 'jquery.uniform_thumbnails.min.js' | asset_url | script_tag }}
  {{ 'jquery.orderly.min.js' | asset_url | script_tag }}
  {{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
  {{ 'transition.js' | asset_url | script_tag }}
  {{ 'button.js' | asset_url | script_tag }}
  {{ 'carousel.js' | asset_url | script_tag }}
  {{ 'collapse.js' | asset_url | script_tag }}
  {{ 'dropdown.js' | asset_url | script_tag }}
  {{ 'modal.js' | asset_url | script_tag }}
  {{ 'tab.js' | asset_url | script_tag }}
  {{ 'tooltip.js' | asset_url | script_tag }}
  {{ 'popover.js' | asset_url | script_tag }}
  {{ 'typeahead.js' | asset_url | script_tag }}
  {{ 'jquery.instagram.min.js' | asset_url | script_tag }}
  {% if settings.enable-image-zoom %}{{ 'jquery.zoom.min.js' | asset_url | script_tag }}{% endif %}
  {% if settings.enable-image-lightbox %}{{ 'jquery.colorbox-min.js' | asset_url | script_tag }}{% endif %}
  {% if settings.enable-age-verification %}{% include 'age-check' %}{% endif %}

  {% if settings.custom-footer-code != '' %}
    {{ settings.custom-footer-code }}
  {% endif %}
  
  <script type="text/javascript">
    {% unless current_handle == blank %}
      $('.handle_{{ current_handle }}').parents('.collapse').addClass('in');
    {% endunless %}
	
  	{% if settings.instagram-feed and settings.instagram-client-id != blank %}
  	  if(instagramThumbnailClass === undefined){
    		var instagramThumbnailClass = "{% include '__thumbnail-span' %}";
    	}
    	$(function(){
  			$('#instagram-widget').bootstrapifyInstagram({
  				thumbClass: instagramThumbnailClass
  			});
  		});
  	{% endif %}
  
    {% if thumbnail_layout == 'masonry' %}
      var $container = $('.masonry-collection').imagesLoaded(function(){
        $container.isotope({
          itemSelector: '.masonry',
          layoutMode: 'masonry'
        });
        
        $('.product-main-thumb').orderly();
      });
    {% else %}
    	if(uniformThumbnailElements === undefined){
    		var uniformThumbnailElements = '.thumbnail-image a, .product-main-thumb a';
    	}
	  
      var uniformThumbnailsOpts = {};
      {% if settings.thumbnail-alignment != blank %} uniformThumbnailsOpts.align = '{{ settings.thumbnail-alignment }}'; {% endif %}
      {% if settings.thumbnail-ratio != blank %} uniformThumbnailsOpts.ratio = '{{ settings.thumbnail-ratio }}'; {% endif %}
      {% if settings.thumbnails-cropped == blank %} uniformThumbnailsOpts.fit = 'scale'; {% endif %}
      $(uniformThumbnailElements).uniform_thumbnails(uniformThumbnailsOpts).on('ut_complete', function(){
        //$('.collection-thumbnail .caption').orderly({ method: 'children' });
        //$('.product-thumbnail .caption').orderly({ method: 'children' });
        $('.row').find('.caption').orderly({ method: 'children' });
      });
    {% endif %}
    
    $(document).ready(function(){
      $('.search-bar').typeahead({
        name: 'Products',
        local: [{{ typeahead }}]
      }).on('typeahead:selected', function (object, datum) {
        $(this).closest('form').submit();
      });
    });
	
	{% if settings.ajax-cart %}
		$(document).ajaxCart();
	{% endif %}
  </script>
</body>
</html>