{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap">			
	<div class="jumbotron why-salted-page-hero">
		<div class="container text-center">
			<h1>Why Salted Chocolate?</h1>
			<p class="xl-lead">Here we are going to go into the science and details about what makes salted chocolate taste so darn good.</p>
		</div>
	</div>
	<div class="container">				
	    <div class="row">
	        <div class="col-sm-7">
	            <h1 class="xl-header no-top"><strong>Smooth, Yet Bold.</strong></h1>
	            <p class="lead">
	                Surprisingly, contrasting flavors like sweet and salty are the best natural complements. It’s this concept of complementary contrasts that makes Salazon’s sea salt chocolate so beautifully balanced and flavorful.
	            </p>
	            <a class="flavor-profile-link" href="./our-chocolate">Get the full report on our flavor profile</a>
	        </div>
	        <div class="col-sm-5">	        	
	   		</div>
	    </div>
	    <hr>
	    <div class="row">

	        {% for product in collections.featured.products limit:3 %}
	        <div class="col-sm-6 col-md-4">
	            <p class="product-title lead">{{ product.title }}</p>
	            <a href="{{ product_url }}" class="caption clearfix">
	                <div class="panel panel-default whole-sale-panel">
	                    <div class="panel-body">
	                        {% for image in product.images limit:1%}
	                        <img class="img-responsive img-center featured-product-image"
	                             src="{{ image.src | product_img_url: 'medium' }}">
	                        <hr>
	                        {% endfor %}
	                        <div class="row">
	                            <div class="col-sm-6">
	                                <p class="lg-header">{{ product.price | money }}</p>
	                            </div>
	                            <div class="col-sm-6">

	                                <p class="btn btn-lg btn-default home-cart-btn">Add to Cart</p>
	                            </div>
	                        </div>

	                    </div>
	                </div>
	            </a>
	        </div>
	        {% endfor %}
	    </div>
	</div>
	<div class="our-chocolate-bean-hero jumbotron">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-8 col-sm-offset-2">
	                <h2 class="xl-header text-center"><strong>Flavor Layering</strong></h2>
	                <p class="lead secondary-section-p">
	                    Flavor layering is a technique that combines harmonious ingredients to enhance the taste of food by building variety and depth.
	                </p>
	            </div>
        	</div>
    	</div>
	</div>
	<div class="container">
		<div class="row">					
			<div class="col-sm-6">				
			<h1><strong>The Science</strong></h1>
				<p class="lead">
					It has been scientifically demonstrated that salt suppresses acidity and bitterness. Because of this, we add a touch of sea salt to bring out our single-origin organic dark chocolate’s many nuanced flavors while balancing the sweetness of the sugar with the bitterness of the cocoa. The result of adding sea salt to dark chocolate? An incredibly smooth, yet bold sea salt chocolate bar.
				</p>				
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<div class="panel panel-default learn-more-panel recipe-panel hide-xs">
          			<div class="panel-body">
            			<h3 class="text-center">Science</h3>
          			</div>
        		</div>
		    </div>		
		</div>		
		<div class="row">					
			<div class="col-sm-6">				
			<h1><strong>The Art</strong></h1>						
				<p class="lead">
					We have dedicated years to creating the perfect sea salt chocolate bar by studying everything from amount of salt used, to coarseness and origin. That’s why every dark chocolate bar is hand sprinkled with just the right amount of natural sea salt. Too much salt overwhelms the chocolate, while too little salt leaves the flavor flat.
				</p>				
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<div class="panel panel-default learn-more-panel recipe-panel hide-xs">
          			<div class="panel-body">
            			<h3 class="text-center">Art</h3>
          			</div>
        		</div>
		    </div>		
		</div>				
		<hr>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">				
				<p class="xl-lead padding-top-bottom-lg">					
					After years of making nothing but dark chocolate with sea salt, we’re way ahead of the competition.
				</p>				
			</div>		
		</div>		
	</div>
	{% include 'learn-more-section' %}
	{% include 'network-section' %}
</section>