{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap">
	<div class="jumbotron faq-page-hero large-hero">
		<div class="container text-center">
			<h1>Frequently Asked Questions</h1>			
		</div>
	</div>
	<div class="container">		
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 faq-p-wrapper">
				<p class="lead"><strong>Q. What does Salazon mean? </strong></p>				
				<p class="lead">
					Salazon is Spanish for salted and Salazon Chocolate Co. is the first salted-chocolate based brand. We chose Spanish to pay homage to the Spanish speaking regions (including the Dominican Republic) that have played such a pivotal role in the cultivation and development of cacao and chocolate.
				</p>
				<p class="lead"><strong>Q. Why do you combine chocolate and salt?</strong></p>				
				<p class="lead">
					Salt, when used in moderation, is excellent at enhancing the food it is paired with. This is no different with dark chocolate, one of the most complex and delicious foods known to man. We add a touch of sea salt to bring out our organic chocolate’s nuanced flavors while balancing the sweetness of the sugar and the bitterness of the cocoa.
				</p>
				<p class="lead"><strong>Q. Why are some of the ingredients sprinkled on the bar instead of mixed in?</strong></p>
				<p class="lead">
					Again, we chose not to follow convention. Most chocolate companies mix all ingredients into the chocolate when it is melted, and we tried that as well. However, even though it was easier, it wasn’t better. The salt, in particular, when mixed into the chocolate just didn’t give us the texture or taste we were looking for.
				</p>
				<p class="lead"><strong>Q. What is the percentage of cocoa in your bars?</strong></p>
				<p class="lead">
					We offer a selection of 57% and 72% dark chocolate bars. The cocoa for all our bars is smooth, not too sweet or bitter, and pairs perfectly with our natural sea salt.
				</p>
				<p class="lead"><strong>Q. Where are the cacao beans from?</strong></p>
				<p class="lead">
					Our single-origin chocolate is made exclusively with organic, Rainforest Alliance certified Hispaniola beans from The Dominican Republic. These premium beans have been fermented and sun-dried.
				</p>
				<p class="lead"><strong>Q. Are your bars Kosher?</strong></p>
				<p class="lead">
					Yes! Please visit our <a href="wwww.ourkosher.org">certifier</a> to learn more.
				</p>
				<p class="lead"><strong>Q. Are your bars Organic?</strong></p>
				<p class="lead">
					Of Course! Please visit our <a href="www.tilth.org">certifier</a> to learn more.
				</p>
				<p class="lead"><strong>Q. Are your bars Vegan?</strong></p>
				<p class="lead">
					All bars except for the Sea Salt & Caramel bar are vegan.
				</p>
				<p class="lead"><strong>Are your bars gluten free?</strong></p>
				<p class="lead">
					Yes, but they are processed in a plant that also handles peanut, tree nuts, milk, and wheat.
				</p>		
				<p class="lead"><strong>Q. Are your bars Non-GMO?</strong></p>
				<p class="lead">
					Yes, all of our bars are 100% organic, and therefore absolutely Non-GMO.
				</p>		
				<p class="lead"><strong>Q. Where are your bars made?</strong></p>
				<p class="lead">
					Salazon Chocolate Co. is an independent company based in Maryland. Our bars are made in the US (MD) using our own proprietary blend of beans and ingredients. Our chocolate is used exclusively by us and no one else.
				</p>		
				<p class="lead"><strong>Q. Are your bars Fair Trade Certified?</strong></p>
				<p class="lead">
					Salazon Chocolate Co.’s products are fair trade certified through Fair Trade USA. Fair Trade USA gives farmers the opportunity to make a real living by guaranteeing a Minimum Price for their harvest. A Fair Trade Premium is then added to the purchase price which is used by farm cooperatives for social and economic investments in education, health services, processing equipment, and loan distribution. Visit <a href="www.fairtradeusa.org">www.fairtradeusa.org</a> to learn more.
				</p>		
				<p class="lead"><strong>Q. What is Rainforest Alliance?</strong></p>
				<p class="lead">
					The Rainforest Alliance has been working to strengthen the position of smallholder cacao farmers since 2006 by training them to conserve natural resources, increase productivity, and secure decent living and working conditions. Rainforest Alliance Certified farms are audited annually against rigorous environmental, social and economic criteria that protect biodiversity and foster a culture of respect for workers and local communities. The Rainforest Alliance seal on our products means that our partner farmers exceed these strict criteria. Visit <a href="www.rainforsest-alliance.org">www.rainforest-alliance.org</a> to learn more.
				</p>								
			</div>		
		</div>
	</div>
</section>