{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap">
	<div class="jumbotron why-salted-page-hero">
		<div class="container text-center">
			<h1>Our Origin Story.</h1>
			<p class="xl-lead">The origin story of Salazon Chocolate.</p></div>
	</div>
	<div class="container">
	    <div class="row">
	        <div class="col-sm-12">            
	            <div class="row">
	                <div class="col-sm-7">
	                <h1 class="xl-header featured-product-header"><strong>The Original Salted Chocolate.</strong></h1>
	                    <p class="lead">
	                        In the summer of 2009 we were on a backpacking trip to Utah. We'd brought along the usual snacks, you know - energy bars, salty trail mixes, and, as always, some organic dark chocolate bars (a great super food). As we sat around the campfire that night, it struck us that a simple, salted-dark chocolate bar would be the perfect energy food. The idea for Salazon was born.
	                    </p>
	                </div>                
	            </div>
	        </div>
	    </div>
	    <hr>
	    <div class="row">
	        <div class="col-sm-12">
	            <h4 class="featured-product-headline">Featured Products</h4>
	        </div>
	    </div>
	    <div class="row">
	        {% for product in collections.featured.products %}
	        <div class="col-sm-6 col-md-4">
	            <a href="{{ product_url }}" class="caption clearfix">
	                <div class="panel panel-default whole-sale-panel">
	                    <div class="panel-body">
	                        <p class="product-title lead no-bottom">{{ product.title }}</p>
	                        <p><small class="product-cacao-content text-right no-top">57% Dark Chocolate</small></p>
	                        {% for image in product.images limit:1%}
	                        <img class="img-responsive img-center featured-product-image"
	                             src="{{ image.src | product_img_url: 'medium' }}">
	                        <hr>
	                        {% endfor %}
	                        <div class="row">
	                            <div class="col-sm-6">
	                                <p class="product-price">{{ product.price | money }}</p>
	                            </div>
	                            <div class="col-sm-6">
	                                <p class="btn btn-lg btn-default home-cart-btn">Add to Cart</p>
	                            </div>
	                        </div>


	                    </div>
	                </div>
	            </a>
	        </div>
	        {% endfor %}
	    </div>
	</div>
	<div class="our-chocolate-bean-hero jumbotron">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-8 col-sm-offset-2">
	                <h2 class="xl-header text-center"><strong>The world of chocolate.</strong></h2>
	                <p class="lead secondary-section-p">
	                    We then immersed ourselves in the world of chocolate. After visiting organic cacao farms in the Dominican Republic and perfecting the recipe,
	                </p>
	            </div>
        	</div>
    	</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">				
				<p class="xl-lead text-center padding-top-bottom-lg">					
					 Stick with Salazon, the Original Salted Chocolate Company.
				</p>				
			</div>		
		</div>		
	</div>
	{% include 'learn-more-section' %}
	{% include 'network-section' %}
</section>