{% include 'theme-variables' %}
<div class="jumbotron chocolate-page-hero small-hero">
    <div class="container text-center">
        <h1><strong>Here to Help our Customers.</strong></h1>
        <p class="xl-lead">
			We are here to help people with problems or answer questions.
        </p>        
    </div>
</div>
<div class="container">	
	<div class="row">	
		<div class="col-sm-6">			
					<h1><strong>Leave us a message.</strong></h1>
					<p class="lead">
						Use the form below to contact us with any questions. We'll get back to you as soon as we can.
        			</p>									
			<div class="row">
				<div class="panel panel-default whole-sale-panel">
		            <div class="panel-body">					
						{% include 'contact-form' %}
					</div>
				</div>			
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-2">
      		<h1 class="what-insie-header"><strong>Find a retailer.</strong></h1>
      		<p class="lead">
        		Don't want to wait to get your chocolate? Find a retailer near you today.
      		</p>      
	      <!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			  Search Locations
			</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			    	<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="	true">&times;</span></button>
				        	<h4 class="modal-title" id="myModalLabel">Find a Retailer Nearby</h4>
				      	</div>
					    <div class="modal-body">
					    	<div class="row">
						    	<div class="col-sm-12">
							        <label>Enter Your Zipcode</label><br>
							        <small>Select search radius from dropdown</small>
							    </div>
							</div>
							<div class="row">
						        <div class="col-sm-4">
							        <div class="input-group">
					          			<input type="text" class="form-control" aria-label="Text input with segmented button dropdown">
					          			<div class="input-group-btn">            
					            			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						              			<span class="caret"></span>
						              			<span class="sr-only">Toggle Dropdown</span>
					            			</button>
									            <ul class="dropdown-menu dropdown-menu-right">
									              <li><a href="#">10 mi</a></li>
									              <li><a href="#">20 mi</a></li>
									              <li><a href="#">30 mi</a></li>              
									            </ul>
					          			</div>
				        			</div>
				        		</div>
				        	</div>
				    	</div>
			      		<div class="modal-footer">
			        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
			      		</div>
			    	</div>
				</div>
			</div>
    	</div>    		
	</div>	
</div>