{% include 'theme-variables' %}
{% include 'wholesale-section' %}
<div class="whole-sale-content-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1 class="text-center xl-header"><strong>Become a Wholesaler</strong></h1>
				<p class="lead">
					If you're interested in becoming a Salazon Wholesaler, please fill out ALL fields in the form below. We will contact you if additional information is needed.
				</p>
				<div class="panel panel-default whole-sale-panel">
			        <div class="panel-body">
			        	<form>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Business Name</label>
						    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name of Business">					  					  
						    <label for="exampleInputPassword1">Federal Tax ID</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Tax ID Number">
						    <label for="exampleInputEmail1">Reseller Permit Number</label>
						    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Permit Number">					  					  
						    <label for="exampleInputPassword1">First Name</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your first name">
						    <label for="exampleInputEmail1">Last Name</label>
						    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="You last name">					  					  
						    <label for="exampleInputPassword1">Street AddressK</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Street Address">
						    <label for="exampleInputPassword1">City</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="City">
						    <label for="exampleInputPassword1">State</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="State">
						    <label for="exampleInputPassword1">Zipcode</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Zipcode">
						    <label for="exampleInputPassword1">Phone</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your phone number">
						    <label for="exampleInputPassword1">Fax</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your fax number">
						    <label for="exampleInputPassword1">Business website</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Business website">
						    <label for="exampleInputPassword1">Message</label>
						    <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder="Your message"></textarea>
						    <button type="submit" class="btn btn-default">Submit</button>
						  </div>					 
						</form>
			        </div>
			    </div>                    
			</div>
		</div>
	</div>	
</div>