{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap">
	<div class="jumbotron why-salted-page-hero">
		<div class="container text-center">
			<h1>Salazon in the News.</h1>
			<p class="xl-lead">Here are stories and reviews about our chocolates.</p>		
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Baltimore Business Journal features owner of Salazon Chocolate Co., Pete Truby</strong>
				</p>
			<a href="http://www.bizjournals.com/baltimore/print-edition/2014/06/13/how-pete-truby-found-bittersweet-success-in-salted.html">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Salazon Chocolate Co receives multiple honors for the Best Chocolatiers and Confectioners in America</strong>
				</p>
				<a href="http://www.artisanchocolateawards.com/">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>The Eldersburg Patch features Salazon Chocolate Co. &amp; Market.</strong>
				</p>
				<a href="http://patch.com/maryland/eldersburg/groups/business-news/p/salazon-chocolate-co-opens-in-sykesville-friday">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>December edition of Eldersburg Life features Salazon Chocolate Co. & Market</strong>
				</p>
				<a href="http://emagazines.hibu.com/eldersburg">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>DomiCile Magazine features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.domicilemag.com/01/02/2014/14-days-of-chocolate/">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Carroll County Times features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.carrollcountytimes.com/news/local/sykesville-resident-s-salted-chocolate-to-go-national-in/article_14a5215d-b819-50bf-aab9-df4a8c8b84b5.html?mode=story">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>The Baltimore Sun's B Magazine features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.baltimoresun.com/entertainment/bthesite/bal-sweet-ambition-pete-truby-takes-chocolate-to-a-whole-new-taste-20110705-story.html">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Daily Candy features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.dailycandy.com/washington-dc/article/77866/Salazon-Chocolate-Cos-Salted-Chocolate-Bars">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>ZOMG, Candy! reviews Salazon Chocolate Co.</strong>
				</p>
				<a href="http://zomgcandy.com/2010/01/11/salazon-chocolate-co-bars/">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>The Urban Grocer features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.theurbangrocer.com/2010/05/04/salazon-chocolate-co/">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Salazon Chocolate Co. partners with the Appalachian Trail Conservancy to announce new organic Caramel Bar.</strong>
				</p>
				<a href="http://www.candyusa.com/CST/CSTDetail.cfm?ItemNumber=8693">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Poor Taste Magazine features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.poortastemag.com/the-sweet-life-salazon-chocolate/">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Gear Junkie reviews Salazon Chocolate Co.</strong>
				</p>
				<a href="http://gearjunkie.com/salazon-chocolate-bars">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>DC Baking Examiner features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.examiner.com/article/hot-chocolate-recipe-drink-something-sweet-to-ring-2010">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Salazon Chocolate Co. wins award at 19th Annual Chocolate Affair.</strong>
				</p>
				<a href="http://www.examiner.com/article/a-little-too-much-chocolate-is-just-about-right-the-chocolate-affair">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Baltimore Style features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.baltimorestyle.com/index.php/style/recipe/wine_coach_romantic_pairs_jf11/">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Salazon Chocolate Co. earns Silver and Bronze at Taste TV Top Chocolate Bar Awards</strong>
				</p>
				<a href="http://www.tastetv.com/2012salon-chocobar.html">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>DETAILS magazine features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.details.com/style-advice/food-and-drinks/201105/american-chocolate-renaissance">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Lost at E Minor features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.lostateminor.com/2009/12/23/salazon-organic-chocolate/">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Cool Hunting features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.coolhunting.com/food-drink/salazon-chocola">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p class="lead">
					<strong>Trailspace.com features Salazon Chocolate Co.</strong>
				</p>
				<a href="http://www.trailspace.com/blog/2010/03/10/salted-salazon-chocolate.html">View Article</a>
			  </div>
			</div>						
		</div>		
	</div>	